/* Base styles */
h1 {
  margin-top: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.page {
  padding: 20px;
  margin: 20px;
  background: #A2C5A8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



/* navbar */

.navbar {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  left:0;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1%;
  text-decoration: none;
  flex: left;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  color: gray;
}




/* about page general */

.about-page {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #D9D9D9;
  background-image: url('photos/riot.png');
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}

.about-page h1 {
  padding-bottom: 1%;
  padding-top: 5%;
  font-size: 400%;
}

.about-page p {
  font-size: 150%;
  padding: 7%;
}



/* eboard */

.eboard-section p {
  font-size: 100%;
  padding: .1%;
}
.eboard-section {
  padding-top: 1%;
  padding-bottom: 5%;
  background-color: #A2C5A8;
}

.eboard-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.eboard-member {
  width: 10%;
  padding: 1%;
  text-align: center;
  background-color: #D9D9D9;
}

.eboard-member img {
  width: 100%;
  height: auto;
  border: 1px solid #6a6a6a;
}




/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center; 
  }

  .navbar a {
    width: 100%;
    padding: 10px;
  }

  .eboard-member {
    width: 45%; 
  }
}

@media (max-width: 480px) {
  .navbar a {
    padding: 15px; 
  }

  .eboard-member {
    width: 90%; 
  }
}


